table {
  /*border: 3px solid green;*/
  margin-top: 10;
}.dropbtn {
  background-color: white;
  color: black;
  border: 2px solid #4CAF50;
  padding: 5px 16px;
  font-size: 16px;
  cursor: pointer;
}

.dropbtn:hover, .dropbtn:focus {
    /*background-color: #2980B9;*/
}

.dropdown {
    position: relative;
    display: inline-block;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f1f1f1;
    min-width: 250px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}

.show {display:block;}
