body{
  font-family: 'Roboto', -apple-system, system-ui, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif;
}.question-div{
  background-color: white;
	color: black;
	border: 2px solid #4E59A4;
  border-radius: 10px;
	padding: 7px 16px;
	font-size: 16px;
	cursor: pointer;
	margin:15px;
}
